/* ほぼ共通 */

a{
    text-decoration: none;
}
.more{
    width: 200px;
    height: 54px;
    border-radius: 50px;
    background: linear-gradient(to right, #7633A4, #250D65);
}
.more a{
    color: #FFFFFF;
    text-align: center;
    display: block;
    padding-top: 18px;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    font-weight: Bold;
}


/*header*/
header{
    width: 100%;
    height: 86px;
    position: fixed;
}
header .header-wrapper{
    width: 1380px;
    justify-content: space-between;
    display: flex;
    padding-top: 34px;
    margin: 0 auto;
}
header .header2-wrapper{
    display: flex;
}
header a{
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: Bold;
    color: #FFFFFF;
    letter-spacing: 0.05em;
    padding-left: 25px;
}

/* zero */
.zero{
    width: 100%;
    height: 240px;
    background-image: url(../img/hero.png);
}
.zero h2{
    text-align: center;
    font-family: "Montserrat",sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 101px;
}
.zero p{
    text-align: center;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 5px;
    letter-spacing: 0.05;
}


/*zero-botomm*/
.zero-botomm{
    width: 100%;
    height: 45px;
    background-color: #F7F7F7;
}
.zero-botomm p{
    font-family: "Montserrat",sans-serif;
    font-size: 12px;
    padding-left: 165px;
    padding-top: 15px;
}

.back{
    background-image: url(../img/リピートグリッド\ 8.png);
    background-size: cover;
}
.back .recruit-zero h2{
    text-align: center;
    font-family: "Montserrat",sans-serif;
    font-size: 72px;
    font-weight: Bold;
    letter-spacing: 0.01em;
    color: #391E88;
    padding-top: 116px;
}
.back .recruit-zero h3{
    text-align: center;
    font-family: "ヒラギノ角ゴシック",sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: #391E88;
    padding-top: 15px;
}
.back .recruit-zero p{
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    font-weight: "Regular";
    text-align: center;
    padding-top: 40px;
}
.first img{
    padding-top: 40px;
    width: 100%;
}



/* second */
.second h4{
    text-align: center;
    font-family: "ヒラギノ角ゴシック",sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #391E88;
    padding-top: 70px;
    padding-bottom: 40px;
}
.second .second-wrapper{
    width: 1110px;
    height: 790px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    border-color: #B8AED5;
}
.second .second-wrapper h5{
    font-family: "Montserrat",sans-serif;
    font-size: 24px;
    font-weight: Bold;
    text-align: center;
    padding-top: 50px;
}
.second .second-wrapper h6{
    font-family: "ヒラギノ角ゴシック",sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding-left: 21px;
    padding-top: 32.5px;
}
.second-wrapper .koyou{
    display: flex;
    height: 78px;
    width: 920px;
    margin-left: 95px;
    border-bottom: #DDDDDD solid;
    position: relative;
}
.second-wrapper .oubo{
    display: flex;
    height:194px;
    width: 920px;
    border-bottom: #DDDDDD solid;
    margin: 0 auto;
    position: relative;
}

.second-wrapper .div-oubo{
    display: block;
    border: none;
    height: 78px;
    width: 782px;
    border-bottom: #DDDDDD;
    border-style: none;
    position: absolute;
    left: 180px;
}
.second-wrapper .oubo p{
    font-family: "Montserrat",sans-serif;
    font-size: 15px;
    width: 782px;
    padding-top: 30.5px;
}
.second-wrapper .oubo ul{
    font-family: "Montserrat",sans-serif;
    font-size: 15px;
    list-style-position: inside;
    padding-top: 20px;
}
.second-wrapper .koyou p{
    font-family: "Montserrat",sans-serif;
    font-size: 15px;
    position: absolute;
    left: 180px;
    padding-top: 30.5px;
}

.second-wrapper .p{
    text-align: center;
    padding-top: 5px;
}
.second-wrapper .more{
margin: 0 auto;
    width: 200px;
    height: 54px;
    border-radius: 50px;
    background: linear-gradient(to right, #7633A4, #250D65);
}
.second-wrapper .more a{
    color: #FFFFFF;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 18px;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    font-weight: Bold;
    margin-top: 50.5px;
}


/* third */
.third div{
    width: 1110px;
    height: 624px;
    margin:  0 auto;
    background-color: #EBEBEB;
    margin-top: 40px;
}
.third h4{
    text-align: center;
    font-family: "ヒラギノ角ゴシック",sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #391E88;
}
.third div h6{
    font-family: "ヒラギノ角ゴシック",sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #A2A2A2;
    padding-top: 292px;
}
.third{
    margin-top: 140px;
}



.seventh{
    background-color: #F7F7F7;
    width: 100%;
    height: 356px;
}
.seventh h2{
    text-align: center;
    padding-top: 80px;
    font-family: "Montserrat"; 
    font-size: 34px;
    font-weight: bold;
    color: #391E88;
}
.seventh h3{
    text-align: center;
    font-family: "ヒラギノ角ゴシック";
    font-size: 14px;
    font-weight: 600;
    color: #391E88;
}
.seventh p{
    text-align: center;
    padding-top: 35px;
    font-family: "ヒラギノ角ゴシック";
    font-size: 15px;
    font-weight: 300;
}
.seventh .more{
    margin: 31px auto 0;
}


/* footer共通 */

footer {
    width: 100%;
    height: 173px;
    background-color: #120E19;
}
footer div{
    display: flex;
    justify-content: center;
    gap: 20px;
}
footer a{
    font-family: "Montserrat"; 
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 60px;
}
footer p{
    font-family: "Montserrat"; 
    font-size: 10px;
    font-weight: "Regular";
    color: #A798B7;
    text-align: center;
    padding-top: 22px;
}

/* headerレスポンシブ */
.responsive{
    display: none;
}




/* レスポンシブ */
@media (max-width: 375px){

    .pc{
        display: none;
    }
    .responsive{
        display: block;
    }
    /* first */
    .first{
        width: 345px;
        margin: 0 auto;
    }
    .first .first-wrapper{
        display: block;
    }
    
    .first p{
        text-align: center;
    }
    
    .first-wrapper p{
        padding-top: 15.4px;
    }
    
    .first-wrapper img{
        margin-top: 40px;
    }
    .first-wrapper div{
        padding-right: 0px;
    }
    .back{
        background-image:none;
    }





    .back .recruit-zero h2{
        font-size: 48px;
        padding-top: 40px;
    }
    .back .recruit-zero h3{
        font-size: 18px;
    }
    .back .recruit-zero p{
        font-size: 15px;
        padding-top: 25px;
    }




    /* second */
.second .second-wrapper{
    width: 335px;
    height: 1010px;
    border: #B8AED5 solid;
}
.second h4{
    font-size: 24px;
    color: #391E88;
    padding-top: 40px;
    padding-bottom: 30px;
}
.second-wrapper .koyou{
    display: block;
    height: 104px;
    width: 290px;
    margin-left: 20px;
}
.second-wrapper .koyou p{
    font-size: 14px;
    left: 0px;
    padding-top: 10px;
}
.second-wrapper .oubo{
    display: block;
    height: 400px;
    width: 290px;
    border-bottom: #DDDDDD solid;
    margin: 0 auto;
}
.second-wrapper .div-oubo{
    display: block;
    border: none;
    height: 200px;
    width: 230px;
    border-bottom: #DDDDDD;
    border-style: none;
    position: absolute;
    left: 0px;
}

.second-wrapper .oubo p{
    font-family: "Montserrat",sans-serif;
    font-size: 15px;
    width: 265px;
    padding-top: 20.5px;
}
.second .second-wrapper h6{
    font-size: 14px;
    padding-left: 0px;
    padding-top: 20.5px;
}
.second-wrapper .more a{
    margin-top: 40px;
}
.second-wrapper .p{
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
}
.second .second-wrapper h5{
    font-size: 16px;
    padding-top: 30px;
}
/* 

.second .second-wrapper h5{
    font-family: "Montserrat",sans-serif;
    font-size: 24px;
    font-weight: Bold;
    text-align: center;
    padding-top: 50px;
}
.second .second-wrapper h6{
    font-family: "ヒラギノ角ゴシック",sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding-left: 21px;
    padding-top: 32.5px;
}
.second-wrapper .koyou{
    display: flex;
    height: 78px;
    width: 920px;
    margin-left: 95px;
    border-bottom: #DDDDDD solid;
    position: relative;
}
.second-wrapper .oubo{
    display: flex;
    height:194px;
    width: 920px;
    border-bottom: #DDDDDD solid;
    margin: 0 auto;
    position: relative;
}

.second-wrapper .div-oubo{
    display: block;
    border: none;
    height: 78px;
    width: 782px;
    border-bottom: #DDDDDD;
    border-style: none;
    position: absolute;
    left: 180px;
}
.second-wrapper .oubo p{
    font-family: "Montserrat",sans-serif;
    font-size: 15px;
    width: 782px;
    padding-top: 30.5px;
}
.second-wrapper .oubo ul{
    font-family: "Montserrat",sans-serif;
    font-size: 15px;
    list-style-position: inside;
    padding-top: 20px;
}
.second-wrapper .koyou p{
    font-family: "Montserrat",sans-serif;
    font-size: 15px;
    position: absolute;
    left: 180px;
    padding-top: 30.5px;
}

.second-wrapper .p{
    text-align: center;
    padding-top: 5px;
}
.second-wrapper .more{
margin: 0 auto;
    width: 200px;
    height: 54px;
    border-radius: 50px;
    background: linear-gradient(to right, #7633A4, #250D65);
}
.second-wrapper .more a{
    color: #FFFFFF;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 18px;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    font-weight: Bold;
    margin-top: 50.5px;
} */



    /* third */
.third div{
    width: 335px;
    height: 188px;
    margin-top: 30px;
}
.third div h6{
    font-size: 24px;
    padding-top: 82px;
}
.third div{
    
    margin:  0 auto;
    background-color: #EBEBEB;
    
}
.third h4{
    font-size: 24px;
    padding-bottom: 30px;
}
.third{
    margin-top: 80px;
}









/* seventh */
.seventh{
    margin-top: 80px;
    height: 328px;
}
.seventh p{
    width: 296px;
    text-align: center;
    font-size: 13px;
    letter-spacing: 0.05;
}
.seventh p{
    margin: 0 auto;
    padding-top: 35px;
}
/* zero */
.zero{
    background-size: auto;
}
.zero-botomm{
    height: 25px;
    background-color: #F7F7F7;
}
.zero-botomm p{
    font-size: 11px;
    padding-left: 20px;
    padding-top: 6px;
}


/* footer */
footer{
    height: 213px;
}
footer .responsive{
    padding-left: 31px;
}
footer .responsive a{
    padding-right: 20px;
    font-size: 12px;
}
footer .footer-top{
    padding-top: 60px;
    padding-bottom: 20px;
}
footer a{
    padding-top: 0px;
}
footer p{
    padding-top: 30px;
}
}